<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name"/></br>
    <p>姓名：{{ name }}</p>
    <input type="text" v-model="age"/></br>
    <span>年龄：{{ age }}</span>
  </div>

  <script>
    const RE = new RegExp(/\{\{\s*\w+\s*\}\}/g) //匹配双花括号的正则
    let flag = false;                           //判断是否是第一次添加input事件
    let el = document.querySelector('#app');    //挂载节点
    let renderDom =new Map();                   //需要渲染的dom节点数组 [dom]=>'dom.innerHTML'
    let aInput = document.querySelectorAll('input[v-model]');
    //push
    Array.from(el.children).forEach(dom => {
      if(dom.innerHTML.match(RE)){
        renderDom.set(dom,dom.innerHTML)
      }
    })
    console.log(renderDom)
    //真正的数据
    let realData = {
      name : "Mr.bin",
      age: "18"
    }
    //Proxy代理视图数据
    let viewData = new Proxy(realData, {
      set(obj, name, value){
        obj[name] = value
        console.log(`${name} => ${value}`)
        //数据更新并渲染
        render();
      }
    })
    //初始化渲染
    render();

    function render() {

      Array.from(aInput).forEach(input => {
        let key = input.getAttribute('v-model');
        input.value = realData[key];
        if(!flag){
          input.addEventListener('input',()=>{
            viewData[key] = input.value
          })
        }
      })
      flag = true
      for( let [dom, value] of renderDom){
        dom.innerHTML = value.replace(RE,str => {
          //去掉所有花括号和空格，得到key值
          let key = str.substring(2,str.length-2).replace(/\s*/g,'')
          // val.innerHTML=viewData[key] 
          return realData[key]
        })
      }
    }

  </script>
</body>
</html>