<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    *{
      margin: 10px;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <span>{{ name }}</span></br>
    <input type="text" v-model="age">
    <span>{{ age }}</span>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let vm = new Vue({
      el:"#app",
      data:{
        name:"Mr.bin",
        age:'18'
      }
    })
    </script>
</body>
</html>